html,
body {
  height: 100%;
}

// Grid
table {
    border-collapse: separate;
    border-spacing: 10px 10px;
}
 
table tr {
    margin: 10px;
}

table th {
    margin: 10px;
    border: 1px solid #3A87AD;
    background: #3A87AD;
    width: 50px;
    height: 50px;
}
 
table tr td {
    width: 50px;
    height: 50px;
    border: 1px solid #3A87AD;
}


table tr .czerwony {
	background-color: #ff4444;
}

table tr .zielony {
	background-color: #44ff44;
}