<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Connect 4</title>
		<script src="js/lib/ractive.js"></script>
		<script src="js/lib/jquery-1.6.1.js"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>


		<div id='container'></div>
		
		
		<script src="js/kod.js"></script>
		<script id='template' type='text/ractive'>
		<table>
		<tr>
		<th id="kol1">Tu</th>
		<th id="kol2">Tu</th>
		<th id="kol3">Tu</th>
		<th id="kol4">Tu</th>
		<th id="kol5">Tu</th>
		<th id="kol6">Tu</th>
		</tr>		
		{{#plansza}}
		<tr>
			{{#this}}
  			<td class="{{this}}"></td>
			{{/.}}
		</tr>
		{{/plansza}}
		</table>		
		</script>
		<script>
		var ractive = new Ractive({
		// The `el` option can be a node, an ID, or a CSS selector.
		el: 'container',
		// We could pass in a string, but for the sake of convenience
		// we're passing the ID of the <script> tag above.
		template: '#template',
		// Here, we're passing in some initial data
		data: test
		});

		gra();
		</script>
	</body>
</html>